@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid  black;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
}
main{
    flex: 1;
}
header{
    text-align: center;
    width: auto;
    height: 100px;
    background-color: blueviolet;
}
main h2{
    text-align:center;
    background-color: gray;
    padding: 10px;
}
div#titulo{
    display: block;
    padding-top: 15px;
    color: white;
}

footer{
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
}